
.func-button{
    width: 90%;
    height:  auto;
    padding: 2px 5px;
    margin-bottom: 15px;
    background: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
  }
  
  .func-button p{
    padding: 0px;
    margin: 0px 0px;
  }
  
  .func-button.inactive{
     /* Strictly for positioning */
  }
  
  .func-button.active{
    box-shadow: 0px 0px 15px #FF941A;
  }
  
  .func-button:hover{
    box-shadow: 0 1px 8px #FF941A;
  }
  
  .bot-constructor{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
  }
  
  .function-block{
    padding-left: 25px;
    background-color: #ffffff;
    height: 100%;
    margin: 0px;
    width: 15%;
  }

  .function-block div{
    padding-top: 25px;
    width: 15%;
    position: fixed;
  }
  
  .constructor-block{
    height: 100%;
    width: 80%;
    border-radius: 50px 0px 0px 0px;
    background-color: #efefef;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 0px;
    padding-left: 5%;
  }

  .start-block{
    width: 100%;
    margin: 0px;
  }

  .bot-block{
    width: 100%;
    margin: 0px;
    display: block;
    margin: 0px;
    margin-right: 20px;
  }

  .block{
    width: auto;
    margin: 0px;
    display: block;
    
  }

  .inline-bot-block{
    width: auto;
    display: flex;
    margin: 0px;
  }

  .message-field{
    width: 150px;
    margin: 0;
    display: block;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 5px 10px;
    margin-bottom: 5px;
  }


  .message-field div{
    display: flex;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
  }

  .message-field p{
    width: auto;
    overflow-wrap: break-word;
  }
  
  .add-message-button{
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
    background-color: #FF941A;
    border-radius: 5px;
    border: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .add-message-button img{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .message-block{
    width: 170px;
    display: block;
    margin: 0px;
    margin-bottom: 10px;
  }

  .message-field .message-text{
    border: 1px solid #393330;
    border-radius: 5px;
    background-color: #efefef;
    width: 100%;
  }

  .message-field .message-text p{
    padding: 3px 5px;
  }

  .delete-block-button{
    display: flex;
    width: auto;
    margin: 0px;
    justify-content: end;
    align-items: start;
  }

  