.block-list{
    padding: 20px 200px;
    width: 100%;
    background-color: #efefef;
    height: 80vh;
}

.block-settings{
    border-radius: 20px;
    background-color: #ffffff;
    width: calc(100% - 400px);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.block-token{
    border-radius: 30px;
    background-color: #ffffff;
    width: calc(100% - 400px);
    margin-bottom: 20px;
    display: block;
    align-items: start;
    height: 110px;
}

.block-token div{
    padding: 5px 30px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0px;
    width: calc(100% - 50px);
}

.block-token input{
    border: 2px solid #AFAFAF;
    border-radius: 5px;
    width: 40%;
    height: 30px;
}

.block-token button{
    padding: 15px 30px;
    width: 250px;
    border-radius: 15px;
    border: none;
    background-color: #FF941A;
    margin: 0px;
    color: white;
}

.block-settings p{
    padding: 15px 30px;
    margin: 0px;
}

.block-token p{
    padding: 15px 30px;
    padding-bottom: 5px;
    margin: 0px;
}

.block-settings button{
    padding: 15px 30px;
    width: 250px;
    border-radius: 15px;
    border: none;
    background-color: #efefef;
    margin: 20px;
}